body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #072f63 url('https://wallpapercave.com/wp/wp7488228.jpg') center/cover no-repeat;
  color: #fff;
  background-color: #072f63;
  /* Add the following background properties */
  background-size: cover;
  background-attachment: fixed; 
}

ul, li {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Event Component Styling */
.event {
  border: 1px solid #ddd;
  align-content: center;
  padding: 15px;
  margin: 15px 0;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event button {
  margin-top: 10px;
  background-color: #ff69b4;
}

/* HomeWithEvents Component Styling */
.home-with-events-container {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional Styling */
.contact-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styling */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

/* HomeWithEvents Component Styling */
.home-with-events-container {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-with-events-container h1 {
  margin-bottom: 10px;
}

.home-with-events-container h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Footer Styling */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Additional Styling */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.event-section {
  margin-bottom: 30px;
}

.contact-container {
  align-content: center;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.contact-container p {
  font-size: 14px;
  color:black;
  margin-bottom: 20px;
}

/* Button Styling */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}